<a href="https://colab.research.google.com/github/johngachara/titanic-data-analysis/blob/main/DataPreprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import seaborn as sns
import numpy as np
from sklearn.preprocessing import MinMaxScaler
import pandas as pd

In [19]:
titanic = sns.load_dataset('titanic')
#check dataset structure
print(titanic.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB
None

In [3]:
print(titanic.describe())

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [20]:
missing = titanic.isnull().sum()
print(missing)

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [21]:
titanic['age'].fillna(titanic['age'].median(),inplace=True)
print(titanic.isnull().sum())

survived         0
pclass           0
sex              0
age              0
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [22]:
titanic.drop(columns=['deck'],inplace=True)

In [23]:

titanic['embark_town'].fillna(titanic['embark_town'].mode()[0],inplace=True)
titanic['embarked'].fillna(titanic['embarked'].mode()[0],inplace=True)
print(titanic.isnull().sum())

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64

In [24]:
#z Score outlier
data = titanic['fare']
mean = np.mean(data)
std_dev = np.std(data) # calculates the standard deviation
Z_scores = (data - mean) / std_dev # computes the Z-scores
outliers = data[np.abs(Z_scores) > 3] # finds all the data points that are 3 standard deviations away from the mean
data2 = titanic['age']
mean2 = data2.mean()
std2 = data2.std()
z_score = (data2-mean2)/std2
outliers2 = data2[np.abs(z_score)>3]
print(outliers2)

96     71.0
116    70.5
493    71.0
630    80.0
672    70.0
745    70.0
851    74.0
Name: age, dtype: float64

In [ ]:
Q1 = titanic_df['fare'].quantile(0.25) # calculates the first quartile
Q3 = titanic_df['fare'].quantile(0.75) # calculates the third quartile
IQR = Q3 - Q1 # computes the IQR

# Below, we find all the data points that fall below the lower bound or above the upper bound
outliers = titanic_df['fare'][
    (titanic_df['fare'] < (Q1 - 1.5 * IQR)) |   #less than lower bound
    (titanic_df['fare'] > (Q3 + 1.5 * IQR))     # greater than upper bound
]

In [ ]:
mean = np.mean(titanic_df['fare']) # calculates the mean
standard_deviation = np.std(titanic_df['fare']) # calculates the standard deviation
outliers = titanic_df['fare'][np.abs(titanic_df['fare'] - mean) > 3 * standard_deviation] # finds all the data points that are 3 standard deviations away from the mean

In [25]:
#cappping replacing outlier values with a certain maximum or minimum
# Drop rows with missing 'age' values
titanic_df = titanic.dropna(subset=['age'])

# Calculate the upper bound for 'age'
Q1 = titanic_df['age'].quantile(0.25)
Q3 = titanic_df['age'].quantile(0.75)
IQR = Q3 - Q1
upper_bound = Q3 + 1.5 * IQR

# Cap the outliers for 'age'
titanic_df['age'] = np.where(titanic_df['age'] > upper_bound, upper_bound, titanic_df['age'])

# Calculate the upper bound for 'fare'
Q1 = titanic_df['fare'].quantile(0.25)
Q3 = titanic_df['fare'].quantile(0.75)
IQR = Q3 - Q1
upper_bound = Q3 + 1.5 * IQR

# Cap the outliers for 'fare'
titanic_df['fare'] = np.where(titanic_df['fare'] > upper_bound, upper_bound, titanic_df['fare'])

In [35]:
#normalization

titanic_df[['age','fare']] = MinMaxScaler(feature_range=(0,10)).fit_transform(titanic_df[['age','fare']])
print(titanic_df[['age','fare']].head())

        age       fare
0  3.990385   1.104604
1  6.948964  10.000000
2  4.730030   1.207446
3  6.394231   8.090270
4  6.394231   1.226491

In [27]:
#one hot encoding of categorical features
titanic_df = pd.get_dummies(titanic_df,columns=['sex','embarked'],dtype=int)
print(titanic_df.head())

   survived  pclass       age  sibsp  parch       fare  class    who  \
0         0       3  3.990385      1      0   1.104604  Third    man
1         1       1  6.948964      1      0  10.000000  First  woman
2         1       3  4.730030      0      0   1.207446  Third  woman
3         1       1  6.394231      1      0   8.090270  First  woman
4         0       3  6.394231      0      0   1.226491  Third    man

   adult_male  embark_town alive  alone  sex_female  sex_male  embarked_C  \
0        True  Southampton    no  False           0         1           0
1       False    Cherbourg   yes  False           1         0           1
2       False  Southampton   yes   True           1         0           0
3       False  Southampton   yes  False           1         0           0
4        True  Southampton    no   True           0         1           0

   embarked_Q  embarked_S
0           0           1
1           0           0
2           0           1
3           0           1
4           0           1

In [64]:
!git push -u origin main

fatal: could not read Username for 'https://github.com': No such device or address

In [53]:
!git config --global user.name

johngachara